@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: '19304-alqabas-bold';
  src: url('./assets/fonts/19304-alqabas-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Asir 2 Normal';
  src: url('./assets/fonts/Asir-2-Normal.ttf') format('truetype');
}
@font-face {
  font-family: 'DG-Modal3at-Bold';
  src: url('./assets/fonts/DG-Modal3at-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Mj_Titr Collage';
  src: url('./assets/fonts/Mj_Titr_Collage.ttf') format('truetype');
}
@font-face {
  font-family: 'PTBLDHAD';
  src: url('./assets/fonts/PTBLDHAD.ttf') format('truetype');
}
@font-face {
  font-family: 'Yaser 1';
  src: url('./assets/fonts/Yaser-1.ttf') format('truetype');
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Cairo', sans-serif;
}